@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@500;700&family=Ubuntu&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 120px 90px;
    font-weight: 700;
}

nav h3 {
    font-size: 24px;
    font-weight: 700;
}

.navbar li {
    display: inline;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;

}

.kit {
    padding: 20px;
    font-size: 20px;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* font-family: Arial; */
    color: #ffffff;
    font-size: 15px;
    background: #E02C6D;
    font-weight: 700;
    padding: 10px 30px 10px 20px;
    text-decoration: none;
}

.top-container {
    display: flex;
    /* width: 75%; */
    margin: 10px 10px 10px 120px;
}

.bio h1 {
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
    /* width: 75%; */

}

.bio p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    /* width: 75%; */

}

.camera img {
    width: 440px;
    height: 414px;
    /* margin-left: 325px; */


}

hr {
    margin: 50px;
}

.brands img {
    padding-left: 80px;
    padding-right: 80px;
}

.mid-container {

    width: 60%;
    margin-left: 350px;
    /* text-align: center; */
    border-radius: 7px;
}

.mid-container h1 {
    text-align: center;
}

.collections {
    /* background-color: #FFFFFF; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 34px;
    grid-column-gap: 24px;
}



.collection {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 20px;
}

@media only screen and (max-width:688px) {
    .top-container {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}